---
import Layout from "../layouts/Layout.astro";
import "../styles/Layout.css";
---

<Layout title="Landing-page" pageDescription="page to receive free ebook">
  <header>
    <div class="container"></div>
  </header>
  <main>
    <div class="p-10">
      <h1 class="text-5xl font-bold">Empower <br />Your Business</h1>
      <h2 class="text-3xl">
        Kickstart Your Social Media Success – <br />Essential First Steps eBook
        Tailored for SME Owners!
      </h2>
    </div>
    <section
      class="flex flex-col md:flex-row justify-between gap-3 p-10 text-center md:text-left"
    >
      <div>
        <h1 class="text-5xl font-bold">
          Do you want to effectively leverage Social Media for growth and
          success.
        </h1>
      </div>
      <p class="text-3xl">
        Discover the proven strategies and essential insights in our ebook, 'The
        Social Strategy'. Uncover the power of tailored social media marketing,
        learn which platforms suit your business best, and explore creative ways
        to engage your audience. This comprehensive guide is your key to
        navigating the dynamic landscape of social media, ensuring your business
        not only survives but thrives in the digital realm. <br />
         Elevate your brand with confidence — this ebook is your roadmap to
        social media success.
      </p>
    </section>
    <h1 class="text-center font-bold text-5xl mt-10">
      Frequently Asked Questions (FAQs)
    </h1>
    <div class="text-center px-40 py-5">
      <h3 class="text-3xl py-2 my-1 rounded-xl bg-yellow-300">
        How can social media benefit my small business?
      </h3>
      <h3 class="text-3xl p-2 my-1 rounded-xl bg-yellow-300">
        Why should I consider outsourcing my social media management?
      </h3>
      <h3 class="text-3xl p-2 my-1 rounded-xl bg-yellow-300">
        Which social networks should my business be on?
      </h3>
    </div>
    <section
      class="flex flex-col md:flex-row justify-between gap-3 p-10 text-center md:text-left"
    >
      <div>
        <h1 class="text-3xl font-bold">
          Ready to kickstart your Social Media strategy and elevate your brand's
          online presence?
        </h1>
      </div>
      <p class="text-3xl rounded-xl bg-yellow-300">
        <button>Start now!</button>
      </p>
    </section>
  </main>
  <footer></footer>
</Layout>
